section {
    padding: 32px;
}

h2 {
    font-size    : 32px;
    display      : inline-block;
    margin       : 0 auto;
        border-bottom: 2px solid #2685BF;
    color: #2685BF;
}

.relatos {
    margin        : 50px;
    display       : flex;
    flex-direction: column;
    gap           : 32px;
}

.relato {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background-color: #94D7F2;
    border-radius   : 25px;
    padding         : 20px;
    color           : #2685BF;
    cursor          : pointer;
    box-shadow      : 4px 4px 10px;
    transition      : 0.2s;
}

.relato:hover {
    scale: 1.01;
}

.data {
    padding    : 0 20px;
    display    : flex;
    align-items: center;
    gap        : 32px;
}

.barra {
    width           : 5px;
    height          : 100px;
    border-radius   : 10px;
    background-color: #3D9DD9;
}

.cabecalho {
    position: relative;
    height  : 50px;
}

.cabecalho h2 {
    position     : absolute;
    left         : 50%;
    transform    : translateX(-50%);
    font-size    : 32px;
    margin       : 0;
}

.icone {
    position : absolute;
    right    : 0;
    top      : 50%;
    transform: translateY(-50%);
    cursor   : pointer;
}

.diaemes{
    display: flex;
    flex-direction: column;
    align-items: center;
}