section {
    padding: 32px;
}

h2 {
    font-size    : 32px;
    display      : inline-block;
    margin       : 0 auto;
        border-bottom: 2px solid #2685BF;
    color: #2685BF;
}

.relatos {
    margin        : 50px;
    display       : flex;
    flex-direction: column;
    gap           : 32px;
}

.cabecalho {
    position: relative;
    height  : 50px;
}

.cabecalho h2 {
    position     : absolute;
    left         : 50%;
    transform    : translateX(-50%);
    font-size    : 32px;
    margin       : 0;
}

.icone {
    position : absolute;
    right    : 0;
    top      : 50%;
    transform: translateY(-50%);
    cursor   : pointer;
}
