.link-ativo {
    text-decoration : none;
    background-color: #2685BF;
    color           : #fff;
}

.item-lista {
    padding        : 8px 50px;
    border-right   : 2px solid #2685BF;
    text-decoration: none;
}

.item-lista-normal {
    color: #2685BF;
}

.item-lista:first-child {
    border-radius: 7px 0px 0px 7px;
}

.item-lista:last-child {
    border-right : none;
    border-radius: 0px 7px 7px 0px;
}

@media (max-width: 600px) {
    .item-lista {
        padding: 8px 25px;
        font-size: 16px;
    }
}
@media (max-width: 420px) {
    .item-lista {
        padding: 8px 25px;
        font-size: 12px;
    }
}