header {
  background-color: #fff;
  border-bottom: 1px solid #2685BF;
}

h1{
  font-weight: 400;
}

.linkHeader {
  display        : flex;
  justify-content: center;
  align-items    : center;
  gap            : 2rem;
  text-decoration: none;
  color          : #2685BF;
}

.linkHeaderContainer{
  width: 100%;
  display: flex;
  padding: 20px 0px;
  justify-content: center;
}

.divLista {
    display        : flex;
    justify-content: center;
    padding        : 30px 0px 0px 0px;
}

.lista {
    list-style   : none;
    display      : flex;
    padding      : 0;
    margin       : 0;
    border       : 2px solid #2685BF;
    width        : fit-content;
    border-radius: 10px;
    font-weight: 400;
}

@media (max-width: 600px) {
  .divLista {
    padding: 22px;
  }

  .lista {
    height: 40px;
  }
}
