.diaemes {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
}

.diaemes h1 {
  font-weight: 400;
  line-height: 100%;
}

.diaemes p {
  font-size: 18px;
}

.data {
  padding    : 0 20px;
  display    : flex;
  align-items: center;
  gap        : 32px;
}

.hora-previa {
  display       : flex;
  flex-direction: column;
  align-self    : flex-start;
}

.relato {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  background-color: #94d7f2;
  border-radius   : 15px;
  padding         : 20px;
  color           : #2685bf;
  cursor          : pointer;
  box-shadow      : 2px 2px 5px;
  transition      : 0.2s;
  gap             : 24px;
}

.relato:hover {
  scale: 1.01;
}

.hora-previa span {
  font-size  : 19px;
  font-weight: 400;
}

.previa {
  text-align : left;
  flex       : 1;
  font-size  : 18px;
  font-weight: 500;
}



/* 🔽 Responsividade sem quebrar o layout principal */
@media (max-width: 600px) {
  .relato {
    padding: 16px;
    gap    : 16px;
  }

  .barra {
    height: 60px;
  }

  .data {
    gap    : 16px;
    padding: 0 10px;
  }

  .previa {
    font-size: 0.95rem;
  }
}