.sessao {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    gap           : 3rem;
}

.cabecalho {
    display    : flex;
    margin     : 25px;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 62vh;
}